body {
    font-family: Arial;
    text-align: center;
    margin-top: 80px;

    background:
      linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)),
      url("https://images.unsplash.com/photo-1501630834273-4b5604d2ee31");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
